<div class="color">
  <h2 class="text-center"><span>Alimentado</span> el futuro, <span>educando</span> el presente</h2>
  <section class="flex-around">
  <img class="log" src="../../../assets/logo.png" alt="">
  <h3>© copyright Andre Leonardo Saavedra 2024</h3>
  <div class="container">
    <a href="https://www.instagram.com/gim.garabatosdecolores/"><img class="red" src="../../../assets/instagram.png" alt=""></a>
    <a href="https://e.plataformaintegra.net/gimnasiogarabatos/"><img class="red" src="../../../assets/internet.png" alt=""></a>
  </div>
  </section>
</div>
