.color{
  background: rgb(10,89,255);
background: linear-gradient(133deg, rgba(10,89,255,1) 41%, rgba(242,0,0,1) 100%);
padding: 3% 0;
margin-top: 20px;
bottom: 0;
}
section{
  background-color: #ffffff9c;
}
h2{
  padding: 0 0 40px;
  color: #fff;
  font-size: 35px;
}
span{
  font-weight: 900;
}
h3{
  font-size: 20px;
}
.log{
  height: 80px;
}
.red{
  height: 50px;
  padding: 10px;
}