.prom{
  min-width: 210px;
  width: 15%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: all 400ms;
}
.prom img{
  width: 100%;
  height: 230px;
}
h1{
  font-weight: 900;
}
h3{
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
}
.price{
  padding: 5px;
  font-weight: 600;
}
.des{
  color: rgb(102, 102, 102);
}
.prom:hover{
  scale: 1.05;
  box-shadow: 13px 16px 25px -13px rgba(0,0,0,0.31);
}
.img-pro{
  width: 40%;
  height: 500px;
  object-position: center;
  margin: 20px 20px 0 0;
}
.info-pro{
  height:400px;
  width: 33%;
  margin-top: 20px;
  padding: 20px;
  
}
.container{
  width: 100%;
}
h1{
  font-size: 30px;
  margin-bottom: 30px;
}
.info-pro h3{
  font-weight: 500;
  margin: 20px 0;
  padding: 0;
}
.des-pro{
  margin-bottom: 30px;
}
#price{
  font-weight:900;
  margin-bottom: 30px;
}
.add-btn{
  position: absolute;
  width: 100%;
  font-size: 15px;
  left: 0px;
  bottom: 20px;
}
.add-zone{
  position: relative;
  height: 100px;
}
.btn-container{
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0px;
}
#amount-btn{
  margin: 0px;
}