<div class="flex">
  <mat-card class="w50">
    <h1 class="text-center p20">Carrito de compras</h1>
    <mat-card-content class="column">
      <section *ngIf="invoiceEmpty()" class="flex-center message">
        <h1>
          El <span><mat-icon>shopping_cart</mat-icon></span> se encuentra vacío
        </h1>
      </section>
      <table *ngIf="!invoiceEmpty()" class="table text-center p20">
        
        <!-- <tr *ngFor="let prom of invoice.promInvoiceDTOList">
          <td class="img"><img src="{{ prom.object.url }}" alt="" /></td>
          <td>{{ prom.object.name }}</td>
          <td>{{ prom.amount }}</td>
          <td>{{ prom.object.price }}</td>
          <td>
            <button mat-raised-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr> -->
        <tr *ngFor="let pro of invoice.productInvoiceDTOList">
          <td class="img"><img src="{{ pro.object.url }}" alt="" /></td>
          <td>{{ pro.object.name }}</td>
          
          <td class="flex">
            <div class="counter flex-center">
              <button class=" count" (click)="updateAmountInvoice(pro.object.id,'product','-')">-</button>
              <h3 class="amount">{{ pro.amount }}</h3>
              <button class="count" (click)="updateAmountInvoice(pro.object.id,'product','+')">+</button>
            </div>
            <button color="warn" class="delete" (click)="deleteElement(pro.object.id,'product')">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
          <td>${{ pro.object.price }}</td>
          <hr>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card class="w30 info">
    <mat-card-content>
      <h2>Resumen de compra</h2>
      <hr />
      <h4 *ngIf="invoiceEmpty()" class="invi">
        Aquí verás los importes de tu compra una vez que agregues productos.
      </h4>
      <div *ngIf="!invoiceEmpty()">
        <!-- <h3>Productos:{{invoice.amount}}</h3>
        <h3>Total:{{invoice.amount}}</h3> -->
        <button mat-raised-button color="primary">
          Continuar con la compra
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>
