<mat-card class="p20" *ngIf="prom">
  <button mat-raised-button class="back no-di" color="warn" [routerLink]="'/admin/products/'+promId">
    <mat-icon>logout</mat-icon>Volver</button>
  <h1 class="text-center p20">Agregar productos a la promoción <b>{{prom.name}}</b></h1>
  <mat-card-content>
      <div class="container">
        <section *ngIf="!productList" class="flex-center message">
          <h1 >No existen registros hasta el momento</h1>
        </section>
        <div class="row" *ngIf="productList">
          <div class="col-md-12">
            <table class="table text-center w100 p20">
              <tr>
                <td>Id</td>
                <td>Producto</td>
                <td>Dia de compra</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Categoria</td>
                <td></td>
              </tr>
                <tr *ngFor="let p of productList " >
                  <td>{{p.id}}</td>
                  <td>{{p.name}}</td>
                  <td>{{p.dayBuying}}</td>
                  <td>{{p.description}}</td>
                  <td>{{p.price}}</td>
                  <td>{{p.amount}}</td>
                  <td>{{p.category}}</td>
                  <td *ngIf="promId">
                    <button *ngIf="!selectProduct(p.name)" mat-raised-button color="primary" (click)="addProductInProm(p)">
                      <mat-icon>add</mat-icon> Agregar
                    </button>
                    <button *ngIf="selectProduct(p.name)" mat-raised-button color="warn" (click)="deleteProductOfProm(p.name)" >
                      <mat-icon>delete</mat-icon>Eliminar
                    </button>
                  </td>
                  
                </tr>
            </table>
          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>